<div class="jumbotron text-center">
    <h1 class="display-3">Благодарим Ви, че запазихте час при нас!</h1>
    <p class="lead"><strong>Следете си мейла, </strong> за да потвърдите направената резервация, ако не отговорите в рамките на 1час ще получите телефонно обаждане</p>
    <hr>
    <p>
        Ако имате проблеми или не сме се свързали с Вас в рамките на 3ч, може да се свържите с нас на посочените телефон или мейл в секция "За нас".
    </p>
</div>