@model WorkerViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .card {
            max-width: 200px;
            margin: auto;
        }

        .team-box {
            z-index: 1000;
            height: 290px;
            padding: 0px;
        }

            .team-box:hover {
                z-index: 1001;
            }

        .team-boxs {
            position: relative;
            height: 290px;
            width: 100%;
            padding: 30px;
            background-color: #fff;
            border: 1px solid #F0F0F0;
        }

            .team-boxs:hover {
                top: -15px;
                left: -15px;
                height: 320px;
                width: calc(100% + 30px);
                transition: all 0.7s;
                box-shadow: 0px 0px 15px 0px #555;
            }

            .team-boxs img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            .team-boxs:hover.team-boxs img {
                border: 2px solid #FA566E;
                padding: 2px;
            }

            .team-boxs h4 {
                font-weight: bold;
                color: #898695;
            }

            .team-boxs h5 {
                font-size: 16px;
                color: #898686;
            }

            .team-boxs p {
                color: #A9A9A9;
            }

            .team-boxs .btn {
                background: #FA566E;
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="card">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 team-box">
                    <div class="team-boxs">
                        <img src="https://thumbnail.imgbin.com/18/10/15/imgbin-computer-icons-avatar-woman-user-avatar-fcZbmpLwxyTjei1ihki8kzwaH_t.jpg">
                        <h4>@Model.FirstName  @Model.LastName</h4>
                        <h5>@Model.Position.</h5>
                        <h5>Възраст:@Model.Year</h5>
                        <h5>Стаж:@Model.Internship.</h5>
                        <p>
                            Ако имате въпроси, свързани с нашите служетили, може да се обърнете към нас на тел: 0897 57 54 или на Info@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>