@{
    ViewData["Title"] = "Поверителност";
}
<h1>Политика за поверителност</h1>

<p>
    Политика за поверителност
    В Слънце ООД поемаме ангажимент за осигуряването на поверителност и защитата на личните Ви данни, в качеството ни
    на Администратор на личните данни, които ни предоставяте.
    Тази Политика обяснява кога и защо събираме лична информация („лична информация“,и„лични данни“са използвани
    като идентични термини в тази Политика) за хората, които посещават сайта ни и ползват услугите ни, как я използваме,
    условията, при които можем да я разкриваме на други и как я пазим. Можем да променяме тази Политика в определени моменти, така,
    че молим да се уверите, че сте запознати с актуалната Политика за поверителност. Като използвате сайта ни и предоставяните чрез него услуги,
    Вие се съгласявате да сте обвързани от тази политика.
</p>

<h3>1.Лични данни</h3>
<p>
    Това са всички данни, на базата на които може да бъде индентифициран даден потребител, като например IP адрес, имейл, телефон, адрес, имена.
    Нашият сайт използва бисквитки, за да разберем как услугите ни работят по най–добрия начин и за да ги направим още по–добри за Вас.
</p>

<h3> 2.Събирани данни</h3>
<p>
    Нашият сайт използва задължителни данни или бисквитки, които позволяват нормалната
    функционалност на сайта, данни за изпълнение на предоставяните от нас услуги и данни или бисквитки от трети
    страни за измерване и преброяване на посещаемостта, които гарантират Вашата анонимност.Някои данни може да използваме,
    в случай, че бъдат променени в настройките на поверителност. Това са данни или бисквитки от трети страни с реклами цели,
    данни за персонализация и профилиране и данни за директен маркетинг и ремаркетинг.
</p>

<h3>3.Права на потребителите</h3>
<p>
    Право на промяна или коригиране на предоставените от Вас или събраните от нас лични данни. Всеки потребител на сайта има право на промяна на всички предоставени от него или събрани от нас данни или информация.
    Право на изтриване и заличаване на предоставените от потребителя или събраните от нас данни. Всеки потребител може да заяви заличаване или изтриване на събраните за него или предоставените от самия него лични данни, като използва сайта или чрез директен контакт със нас. Всички събирани данни за потребителите се изтриват автоматично, след изтичане на максималния период, опоменат в GDPR.
    Право на достъп до личните Ви данни. Всеки потребител на сайта има право да получи потвърждение или информация, относно събираните от нас данни и достъп до тях, в случай, че са установени такива. Можете да получите всяка задължителна информация, описана в чл. 15, т. 1 от GDPR.
    Право на изтриване на личните данни. В случай, че са спазени всички изисквания на чл. 17 от GDPR, можете да поискате данните Ви да бъдат забравени или изтрити.
    Право на ограничаване на обработваните за Вас данни. Можем да запазим събраните за Вас или предоставените от Ваша страна данни, като спрем или прекратим тяхната обработка.
    Право на възражение относно събираните за Вас данни или относно задължително изискуемите от наша страна. В случай, че имате възражения относно събираните за Вас данни, можете да ги промените в личния си профил на сайта, в случай, че имате такъв, или в частта „Настройки за поверителност“. В случай на технически проблем, може да се свържете директно с нас с МОЛБА в писмен или електронен вид.
</p>
